body {
    margin: 0;
    background-color: rgba(0, 255, 157, 0.349);
}
/*#mainbodycontent:hover {
    background-color: rgba(21, 255, 0, 0.253);
}*/
#mainbody {
    display: grid;
    grid-template-columns: 10% 90%;
}
#mainbodycontent {
    grid-column: 2/3;
    /*background-image: url(lake1.jpg);
    background-position: right;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    color: white;*/
}
header {
    text-align: center;
}
#profileEnd {
    grid-column: 1/3;
    grid-row: 2/3;
}
/*Sidebar
***********************
*/
#sidebar {
    grid-column: 1/2;
    grid-row: 1/2;
    left: 0px;
    top: 0px;
    background-image: url(climbing.jpg);
    background-position: center;
    background-size: contain;
    width: 100%;
}
.sticky {
    position: fixed;
    left: 0px;
    width: 10% !important;
}
.blackA2 {
    text-decoration: none;
    color: white;
}
#sideba {
    margin-top: 80px;
    margin-bottom: 80px;
    border: 1px solid black;
    border-left: none;
    background-color: rgba(136, 88, 0, 0.5);
}
#sidebarinfo {
    margin-top: 80px;
    margin-bottom: 80px;
    border: 1px solid black;
    border-left: none;
    background-color: rgba(136, 88, 0, 0.5);
}
#sidebardeals {
    margin-top: 80px;
    margin-bottom: 80px;
    border: 1px solid black;
    border-left: none;
    background-color: rgba(136, 88, 0, 0.5);
}
#sidebarforum {
    margin-top: 80px;
    margin-bottom: 80px;
    border: 1px solid black;
    border-left: none;
    background-color: rgba(136, 88, 0, 0.5);
}
#sidebarprofile {
    margin-top: 80px;
    margin-bottom: 80px;
    border: 1px solid black;
    border-left: none;
    background-color: rgba(136, 88, 0, 0.5);
}


nav {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 6fr 1fr 1fr; 
    background-color: rgb(0, 100, 13);
    background-size: 100%;
    text-align: center;
}
#nav2 {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 6fr 1fr 1fr; 
    background-color: rgb(0, 100, 13);
    background-size: 100%;
    text-align: center;
}

#buy {
    grid-row: 1/2;
}
#buy:hover {
    background-color: rgb(0, 48, 6);
    color: lightgray;
}

#info {
    grid-row: 1/2;
}
#info:hover {
    background-color: rgb(0, 48, 6);
    color: lightgray;
}

#deals {
    grid-row: 1/2;
}
#deals:hover {
    background-color: rgb(0, 48, 6);
    color: lightgray;
}

#forum {
    grid-row: 1/2;
}
#forum:hover {
    background-color: rgb(0, 48, 6);
    color: lightgray;
}

#profile {
    grid-row: 1/2;
    grid-column: 11/12;
}
#profile:hover {
    background-color: rgb(0, 48, 6);
    color: lightgray;
}

#cart {
    grid-row: 1/2;
    grid-column: 12/13;
}
#cart:hover {
    background-color: rgb(0, 48, 6);
    color: lightgray;
}

#holder {
    grid-row: 2/3;
    grid-column: 1/13;
    padding: 0px 0px 0px 0px;
    border: 5px solid black;
    line-height: 30px;
    font-weight: bold;
}
#h1 {
    font-size: 50px;
}


#money{
    padding-top: 5px;
}
.money {
    font-style: italic;
    margin: 0px;
    text-indent: 30px;
}




/* This part controls the temporary headers from Nav Bar
*******************************************************
*******************************************************
*/
.black {
    text-decoration: none;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(0, 133, 18);
    font-size: 22px;
    text-decoration: none;
    color: black;

}

/*Buy
***************/
#Navbuy1 {
    grid-column: 1/2;
}
#Navbuy2 {
    grid-column: 2/3;
}
#Navbuy3 {
    grid-column: 3/4;
}
#Navbuy4 {
    grid-column: 4/5;
}
#Navbuy5 {
    grid-column: 5/6;
}
/*Info
***************/
#Navinfo1 {
    grid-column: 1/2;
}
#Navinfo2 {
    grid-column: 2/3;
}
#Navinfo3 {
    grid-column: 3/4;
}
/*Deals
***************/
#Navdeals1 {
    grid-column: 1/2;
}
#Navdeals2 {
    grid-column: 2/3;
}
#Navdeals3 {
    grid-column: 3/4;
}
#Navdeals4 {
    grid-column: 4/5;
}
#Navdeals5 {
    grid-column: 5/6;
}
/*Forum
***************/
#Navforum1 {
    grid-column: 1/2;
}
#Navforum2 {
    grid-column: 2/3;
}
#Navforum3 {
    grid-column: 3/4;
}
/*Profile
***************/
#Navprofile1 {
    grid-column: 1/2;
}
#Navprofile2 {
    grid-column: 2/3;
}
#Navprofile3 {
    grid-column: 3/4;
}
/*Cart
***************/
#Navbuy1 {
    grid-column: 1/2;
}



#holder6 {
    grid-column: 1/2;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(0, 133, 18);
    font-size: 22px;
    text-decoration: none;
    color: black;
}
#holder7 {
    grid-column: 2/3;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(0, 133, 18);
    font-size: 22px;
    text-decoration: none;
    color: black;
}
#holder8 {
    grid-column: 3/4;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(0, 133, 18);
    font-size: 22px;
    text-decoration: none;
    color: black;
}


/* This portion of code is for the Header
**********************************************
**********************************************
*/


/* This portion of code is for the below
Division's classes to shorten code 
**********************************************
**********************************************
*/
.green1 {
    font-size: 22px;
    background-color: rgb(0, 207, 45);
    padding: 30px;
}
.green2 {
    font-size: 22px;
    background-color: rgb(1, 141, 31);
    padding: 30px;
}
.light1 {
    font-size: 22px;
    background-color: rgb(145, 255, 163);
    padding: 30px;
}
.light2 {
    font-size: 22px;
    background-color: rgb(71, 255, 101);
    padding: 30px;
}

/* This portion of code is for the BUY division 
**********************************************
**********************************************
*/
.blackA {
    text-decoration: none;
    color: black;
}
.divp {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#buy-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(0, 172, 37, 0.625);
    text-align: center;
    font-size: 22px;
    margin-left: 5%;
}
#buy1-div {
    grid-column: 1/3;
}
#buy2-div {
    grid-column: 2/4;
}
#buy3-div {
    grid-column: 1/3;
}
#buy4-div {
    grid-column: 2/4;
}
#buy5-div {
    grid-column: 1/3;
}
#buyp1 {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 30px;
}
#buyp2 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 30px;
}
#buyp3 {
    grid-column: 3/4;
    grid-row: 3/4;
    padding: 30px;
}
#buyp4 {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 30px;
}
#buyp5 {
    grid-column: 3/4;
    grid-row: 5/6;
    padding: 30px;
}
/* This portion of code is for the INFO division 
**********************************************
**********************************************
*/
#info-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(0, 155, 26, 0.625);
    text-align: center;
    margin-top: 100px;
    margin-right: 5%;
}
#info1-div {
    grid-column: 2/4;
    grid-row: 1/2;
}
#info2-div {
    grid-column: 1/3;
    grid-row: 2/3;
}
#info3-div {
    grid-column: 2/4;
    grid-row: 3/4;
}
#infop1 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 30px;
}
#infop2 {
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 30px;
}
#infop3 {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 30px;
}
/* This portion of code is for the DEALS division 
**********************************************
**********************************************
*/
#deals-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(0, 172, 37, 0.625);
    text-align: center;
    font-size: 22px;
    margin-top: 100px;
    margin-left: 5%;
}
#deals1-div {
    grid-column: 1/3;
}
#deals2-div {
    grid-column: 2/4;
}
#deals3-div {
    grid-column: 1/3;
}
#deals4-div {
    grid-column: 2/4;
}
#dealsp1 {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 30px;
}
#dealsp2 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 30px;
}
#dealsp3 {
    grid-column: 3/4;
    grid-row: 3/4;
    padding: 30px;
}
#dealsp4 {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 30px;
}
/* This portion of code is for the FORUM division 
**********************************************
**********************************************
*/
#forum-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(0, 155, 26, 0.625);
    text-align: center;
    margin-top: 100px;
    margin-right: 5%;
}
#forum1-div {
    grid-column: 2/4;
    grid-row: 1/2;
}
#forum2-div {
    grid-column: 1/3;
    grid-row: 2/3;
}
#forum3-div {
    grid-column: 2/4;
    grid-row: 3/4;
}
#forump1 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 30px;
}
#forump2 {
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 30px;
}
#forump3 {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 30px;
}
/* This portion of code is for the PROFILE division 
**********************************************
**********************************************
*/
#profile-div {
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: center;
    font-size: 22px;
    margin-top: 100px;
    background-image: url('sitting.jpg');
    background-position: center;
    background-size: cover;
}
#profile1-div {
    grid-column: 1/2;
    font-size: 22px;
    background-color: rgba(82, 100, 86, 0.300);
    text-align: right;
}
#profile2-div {
    grid-column: 1/2;
    font-size: 22px;
    background-color: rgba(131, 161, 138, 0.300);
    text-align: right;
}
#profile3-div {
    grid-column: 1/2;
    font-size: 22px;
    background-color: rgba(82, 100, 86, 0.300);
    text-align: right;
}
#profilep1 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgba(111, 163, 123, 0.800);
    font-size: 14px;
}
#profilep2 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgba(70, 102, 77, 0.800);
    font-size: 14px;
}
#profilep3 {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: rgba(111, 163, 123, 0.800);
    font-size: 14px;
}
.blackA1 {
    text-decoration: none;
    color: white;
}




#quote {
    font-style: italic;
    margin-bottom: 0px;
    text-align: right;
    padding-right: 40px;
}
#author {
    text-align: right;
    padding-right: 20px;
}
#span1 {
    font-size: 50px;
    color: rgb(0, 13, 133);
}